<!--토이 프로젝트 : 나만의 향을 보관하는 사이트 : Fragrance-->
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Fragrance: 향 보관소</title>
      <style>
          h1 {
           font: bold 3.625em/0.9 "League Gothic", "Arial Narrow", "Arial, sans-serif";
          }
          .badge-group {
              width : 100%;
              height : 100%;
          }
          .badge {
              font-size: 90%;
              height : 100%;
              padding: 1%;
              margin : .1%;
          }
          .card >img {
              background-color:gray;
              width : auto;
              height : 150px;
          }
          .card .heart {
              font-size: 200%;
              position: relative;
              top: -50px;
              left:85%;
          }


      </style>

      <script>

      </script>
  </head>
  <body>
    <br/>
    <h1>&nbspFragrance.</h1>
    <br/>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


    <!--향수 목록 띄우기-->
    <br/>
    <h2>&nbsp브랜드별 향수 모아보기</h2>
    <div class="card-group">
        <div class="badge-group">
            <span class="badge rounded-pill bg-dark">랑방</span>
            <span class="badge rounded-pill bg-dark">포맨트</span>
            <span class="badge rounded-pill bg-dark">아리아나그란데</span>
            <span class="badge rounded-pill bg-dark">입생로랑</span>
            <span class="badge rounded-pill bg-dark">산타마리아노벨라</span>
            <span class="badge rounded-pill bg-dark">조말론</span>
            <span class="badge rounded-pill bg-dark">메종마르지엘라</span>
            <span class="badge rounded-pill bg-dark">디올</span>
            <span class="badge rounded-pill bg-dark">에르메스</span>
            <span class="badge rounded-pill bg-dark">아이젠버그</span>
            <span class="badge rounded-pill bg-dark">톰포드</span>
            <span class="badge rounded-pill bg-dark">세르주루텐</span>
            <span class="badge rounded-pill bg-dark">킬리안</span>
            <span class="badge rounded-pill bg-dark">바이레도</span>
            <span class="badge rounded-pill bg-dark">구찌</span>
            <span class="badge rounded-pill bg-dark">돌체앤가바나</span>
            <span class="badge rounded-pill bg-dark">디올</span>
            <span class="badge rounded-pill bg-dark">미우미우</span>
            <span class="badge rounded-pill bg-dark">몽클레드</span>
            <span class="badge rounded-pill bg-dark">르페르소나</span>
            <span class="badge rounded-pill bg-secondary">전체보기</span>
        </div>
        <div class="row row-cols-4">
            <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="heart">♥</div>
                <div class="card-body">
                    <h5 class="card-title">아리아나그란데</h5>
                    <p class="card-text">포맨트 시그니쳐 퍼퓸 변성알코올, 향료, 정제수, 에칠헥실메톡시신나메이트, 에칠헥실살리실레이트
                                         부틸메톡시디벤조일메탄, 시트릭애씨드, 트라이에탄올아민, 부틸페닐메틸프로피오날
                                         하이드록시시트로넬알, 벤질살리실레이트, 리모넨, 리날룰</p>
                    <p class="card-text"><small class="text-muted">오늘 나온 뜨끈한 신상</small></p>
                </div>
            </div>
            <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="heart">♡</div>
                <div class="card-body">
                    <h5 class="card-title">아리아나그란데</h5>
                    <p class="card-text">포맨트 시그니쳐 퍼퓸 변성알코올, 향료, 정제수, 에칠헥실메톡시신나메이트, 에칠헥실살리실레이트
                                         부틸메톡시디벤조일메탄, 시트릭애씨드, 트라이에탄올아민, 부틸페닐메틸프로피오날
                                         하이드록시시트로넬알, 벤질살리실레이트, 리모넨, 리날룰</p>
                    <p class="card-text"><small class="text-muted">오늘 나온 뜨끈한 신상</small></p>
                </div>
            </div>
            <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="heart">♡</div>
                <div class="card-body">
                    <h5 class="card-title">아리아나그란데</h5>
                    <p class="card-text">포맨트 시그니쳐 퍼퓸 변성알코올, 향료, 정제수, 에칠헥실메톡시신나메이트, 에칠헥실살리실레이트
                                         부틸메톡시디벤조일메탄, 시트릭애씨드, 트라이에탄올아민, 부틸페닐메틸프로피오날
                                         하이드록시시트로넬알, 벤질살리실레이트, 리모넨, 리날룰</p>
                    <p class="card-text"><small class="text-muted">오늘 나온 뜨끈한 신상</small></p>
                </div>
            </div>
            <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="heart">♡</div>
                <div class="card-body">
                    <h5 class="card-title">아리아나그란데</h5>
                    <p class="card-text">포맨트 시그니쳐 퍼퓸 변성알코올, 향료, 정제수, 에칠헥실메톡시신나메이트, 에칠헥실살리실레이트
                                         부틸메톡시디벤조일메탄, 시트릭애씨드, 트라이에탄올아민, 부틸페닐메틸프로피오날
                                         하이드록시시트로넬알, 벤질살리실레이트, 리모넨, 리날룰</p>
                    <p class="card-text"><small class="text-muted">오늘 나온 뜨끈한 신상</small></p>
                </div>
            </div>
            <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="heart">♡</div>
                <div class="card-body">
                    <h5 class="card-title">아리아나그란데</h5>
                    <p class="card-text">포맨트 시그니쳐 퍼퓸 변성알코올, 향료, 정제수, 에칠헥실메톡시신나메이트, 에칠헥실살리실레이트
                                         부틸메톡시디벤조일메탄, 시트릭애씨드, 트라이에탄올아민, 부틸페닐메틸프로피오날
                                         하이드록시시트로넬알, 벤질살리실레이트, 리모넨, 리날룰</p>
                    <p class="card-text"><small class="text-muted">오늘 나온 뜨끈한 신상</small></p>
                </div>
            </div>
            <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="heart">♡</div>
                <div class="card-body">
                    <h5 class="card-title">아리아나그란데</h5>
                    <p class="card-text">포맨트 시그니쳐 퍼퓸 변성알코올, 향료, 정제수, 에칠헥실메톡시신나메이트, 에칠헥실살리실레이트
                                         부틸메톡시디벤조일메탄, 시트릭애씨드, 트라이에탄올아민, 부틸페닐메틸프로피오날
                                         하이드록시시트로넬알, 벤질살리실레이트, 리모넨, 리날룰</p>
                    <p class="card-text"><small class="text-muted">오늘 나온 뜨끈한 신상</small></p>
                </div>
            </div>
            <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="heart">♥</div>
                <div class="card-body">
                    <h5 class="card-title">아리아나그란데</h5>
                    <p class="card-text">포맨트 시그니쳐 퍼퓸 변성알코올, 향료, 정제수, 에칠헥실메톡시신나메이트, 에칠헥실살리실레이트
                                         부틸메톡시디벤조일메탄, 시트릭애씨드, 트라이에탄올아민, 부틸페닐메틸프로피오날
                                         하이드록시시트로넬알, 벤질살리실레이트, 리모넨, 리날룰</p>
                    <p class="card-text"><small class="text-muted">오늘 나온 뜨끈한 신상</small></p>
                </div>
            </div>
            <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="heart">♡</div>
                <div class="card-body">
                    <h5 class="card-title">아리아나그란데</h5>
                    <p class="card-text">포맨트 시그니쳐 퍼퓸 변성알코올, 향료, 정제수, 에칠헥실메톡시신나메이트, 에칠헥실살리실레이트
                                         부틸메톡시디벤조일메탄, 시트릭애씨드, 트라이에탄올아민, 부틸페닐메틸프로피오날
                                         하이드록시시트로넬알, 벤질살리실레이트, 리모넨, 리날룰</p>
                    <p class="card-text"><small class="text-muted">오늘 나온 뜨끈한 신상</small></p>
                </div>
            </div>

        </div>
    </div>

  <!--찜한 향수 모아보기-->
    <br/>
    <h2>&nbsp찜한 향수 모아보기</h2>
    <div class="card-group">
        <div class="row row-cols-6">
            <div class="card">
                <img src="..." class="card-img" alt="...">
            </div>
            <div class="card">
                <img src="..." class="card-img" alt="...">
            </div>
            <div class="card">
                <img src="..." class="card-img" alt="...">
            </div>
            <div class="card">
                <img src="..." class="card-img" alt="...">
            </div>
            <div class="card">
                <img src="..." class="card-img" alt="...">
            </div>
            <div class="card">
                <img src="..." class="card-img" alt="...">
            </div>
            <div class="card">
                <img src="..." class="card-img" alt="...">
            </div>
            <div class="card">
                <img src="..." class="card-img" alt="...">
            </div>
            <div class="card">
                <img src="..." class="card-img" alt="...">
            </div>
            <div class="card">
                <img src="..." class="card-img" alt="...">
            </div>
            <div class="card">
                <img src="..." class="card-img" alt="...">
            </div>
            <div class="card">
                <img src="..." class="card-img" alt="...">
            </div>
            <div class="card">
                <img src="..." class="card-img" alt="...">
            </div>
            <div class="card">
                <img src="..." class="card-img" alt="...">
            </div>
            <div class="card">
                <img src="..." class="card-img" alt="...">
            </div>
            <div class="card">
                <img src="..." class="card-img" alt="...">
            </div>
            <div class="card">
                <img src="..." class="card-img" alt="...">
            </div>
            <div class="card">
                <img src="..." class="card-img" alt="...">
            </div>
            <div class="card">
                <img src="..." class="card-img" alt="...">
            </div>
            <div class="card">
                <img src="..." class="card-img" alt="...">
            </div>
            <div class="card">
                <img src="..." class="card-img" alt="...">
            </div>
            <div class="card">
                <img src="..." class="card-img" alt="...">
            </div><div class="card">
                <img src="..." class="card-img" alt="...">
            </div><div class="card">
                <img src="..." class="card-img" alt="...">
            </div><div class="card">
                <img src="..." class="card-img" alt="...">
            </div><div class="card">
                <img src="..." class="card-img" alt="...">
            </div><div class="card">
                <img src="..." class="card-img" alt="...">
            </div><div class="card">
                <img src="..." class="card-img" alt="...">
            </div><div class="card">
                <img src="..." class="card-img" alt="...">
            </div>








        </div>
    </div>



  </body>
</html>

